




.fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.navbar-nav {
    margin-left: auto; /* Pushes the navigation links to the right */
}
.nav-link , .section2 h1 , .details p {
    font-family: 'Roboto', sans-serif; /* Apply Roboto font */
}
.section1 img {
    width: 100%;
    height: auto;
    max-height: 800px;
}
.section1 {
    position: relative; /* Set position relative for containing the absolutely positioned h1 */
}
.font-a{

    text-decoration: none;
    font-size: 20px;
    color: #141618;

}

.section1 h1 {
    position: absolute;
    top: 20%;
    left: 7%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the h1 is above the image */
    color:#e2e3e5;
    font-size: 100px;
    
}

.section1 h1::before {
            content: "INNOVATION IN MY WAY"; /* Your text */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            color: #fff; /* Text color */
            animation: rays 5s linear infinite; /* Apply animations */
        }
        @keyframes rays {
            0% {
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
            }
            50% {
                text-shadow: 0 0 50px rgba(255, 255, 255, 0.8),
                             0 0 100px rgba(255, 255, 255, 0.8),
                             0 0 150px rgba(255, 255, 255, 0.8);
            }
            100% {
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
            }
        }
        .section2{

            position:relative;
            height: auto;
            max-height: 800px;
            background-color: black;

        }
        .section2 h1{

            position: absolute;
            z-index: 1;
            top: 5%;
            left: 10%;


        }
  .section2 img {
            width: 100%; /* Set the width to 100% of its container */
           height: auto; /* Automatically adjust the height to maintain aspect ratio */
            max-height: 800px; /* Limit the maximum height to 900px to prevent excessive stretching */
        }  
        .position{

            position:absolute;
            top:-50vi;
            left:10%;

        }
     
 
        .section3 {

            background-color: #141618;
            height:200px;
            text-align: center;

        }
        .section3 h2{

            padding-top: 10px;

        }
        .section3 h2,
        .section3 h4 {
            color: #8b8a8b;
            font-family: 'Roboto', sans-serif;
            margin-right: 20px; /* Apply Roboto font */
        }
        
        .footer-container1 {
            display: flex;
            justify-content: center;
    
        }
        .footer-container1 a{

            text-decoration: none;

        }
        /* Media query for smaller screens */
@media (max-width: 768px) {
    .footer-container1 {
        flex-direction: column;
        align-items: center;
    }
}
        .line {
            height: 2px; /* Adjust thickness as needed */
            width: 80%; /* Adjust width as needed */
            background-color: #2a2c2e; /* Adjust color as needed */
            margin: 20px auto; /* Adjust vertical and horizontal margin as needed */
        }
        .footer-container2{

            color: #8b8a8b;

        }
        .footer-container2 img{

            width:35px;
            height:35px;
            margin-top: 15px;
            margin-right: 15px;

        }
        
        .contactme {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
         
        }

        .details {
            flex: 1;
            margin-top: 200px; /* Adjust as needed */
            margin-left: 70px;
            justify-content: center;
           /* text-align: center;*/
        }


        .map {
            flex: 1;
            margin-top: 60px; /* Adjust as needed */
    
        }
        .bord{
            display: inline-block; /* Display the element as an inline-block */ 
            border-right: 2px solid #2a2c2e;
            padding-right: 30px;

        }
        .email{

            display: inline-block; /* Display the element as an inline-block */ 

        }
        .line2{

            height: 2px; /* Adjust thickness as needed */
            width: 80%; /* Adjust width as needed */
            background-color: #2a2c2e; /* Adjust color as needed */

        }
        .details h1{

            font-weight: bold;
            font-family: "Times New Roman", Times, serif;
            font-size: 80px;

        }
        .font{

            color:#c5c5c5;

        }
        .details a:hover{

            color:black;
            text-decoration: underline;

        }
        .details a{

            text-decoration: none;

        }
        .font-p{

            font-size: 20px;
            font-family: "Times New Roman", Times, serif;

        }






/* CSS for smaller screens */
@media only screen and (max-width: 900px) and (max-height: 550px) {
    .section1 h1 {
      font-size: 7vw; /* Adjust the font size as needed for smaller screens */
    }
    .section1 img {
        max-height: 700px; /* Adjust the height value as needed */
    }
    
  }
  
  /* CSS for smaller screens */
@media only screen and (max-width: 900px) and (max-height: 550px) {
    .section2 h1 {
      font-size: 5vw; /* Adjust the font size as needed for smaller screens */
    }
      
}
  
@media (max-width: 767px) {
  /* Adjust the padding of the card body for 728x550 dimension */
  .section2 .card:first-child .card-body {
    padding: 10px; /* Adjust the padding as needed */
  }
}



  
    